body{
    background-image: url("../Images/fondo\ japo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-size: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(42, 14, 201);
    display: flex;
    justify-content: flex-end;
    padding-right: 5em;
}

.players{
    display: flex;
    justify-content: space-around;

}

h2{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
}

.chooseP1{

}

.selected{
    border: 3px solid red;
} 

