*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-image: url("../Images/background\ images/fondo japo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;

}

h1{
    font-size: 80px;
    color: rgb(42, 14, 201);
    display: flex;
    justify-content: flex-end;
    padding-right: 5em;
}

.players{
    display: flex;
    justify-content: space-around;

}

h2{
    font-size: 50px;
    color: rgb(0, 0, 0);
}

.contentall{
    display: flex;
}

.selectp1{
  
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:5em;
}

.selectp2{
   
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:12em;
}

img{
    width: 150px;
}

.selected{
    border: 3px solid red;
} 

.start{
    height: 360px;

    display:none;
    justify-content: center;
    align-items: center;
}

a{
    color: red;
    font-size: 40px;
    font-weight: bold;
}

a:hover{
    color: yellow;
}