*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-image: url("../Images/background\ images/campobatallaestatic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    z-index: -2;
}

header{
    margin-top: 5em;
    display: flex;
    justify-content: space-evenly;
}

.p1, .p2{
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.bloodleft, .bloodright{
    width: 100px;
    height: 30px;
    background-color: blue;
}

.vs{
    font-size: 50px;
    font-weight: bold;
    color: yellow;
}

.content{
    display: flex;
    height: 44em;
    justify-content: center;
    align-items: flex-end;
}

.contentleft, .contentright{
    border: 2px solid green;
    width: 50%;
}
